DATABASE_URL=postgresql://cookie_user:cookie_pass@db:5432/cookievale
POSTGRES_USER=cookie_user
POSTGRES_PASSWORD=cookie_pass
POSTGRES_DB=cookievale
DEBUG=True
SECRET_KEY=yoursecretkey
ADMIN_PASSWORD=youradminpassword
MEDIA_ROOT=/path/to/cookievale-media
BASE_URL=https://cookievale.com
BACKUP_DEST=/path/to/server_backup
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
