DATABASE_URL=postgresql://cookie_user:cookie_pass@db:5432/cookievale
DEBUG=True
SECRET_KEY=yoursecretkey
ADMIN_PASSWORD=youradminpassword
MEDIA_ROOT=C:\cookievale
BASE_URL=https://cookievale.com
BACKUP_DEST=C:\server_backup
